/.idea/
/_linux/
/codestyles/
/AUDESOME1.iml
/baseRefactoring.xml
/colors.scheme.xml
/debugger.xml
/editor.xml
/filetypes.xml
/find.xml
/ide.general.xml
/jdk.table.xml
/project.default.xml
/scala.xml
/scala_config.xml
/studioFlags.xml
/toStringTemplates.xml
/updates.xml
/vcs.xml
/_linux/
/codestyles/
